* {
    scroll-behavior: smooth;
}

body {
    min-width: 480px;
    margin: 0;
    font-family: Verdana;
    background-color: #000;
    color: #fff;
    text-align: center;
}

main, #landing-page, #content {
    width: auto;
    height: 100%;
    display: flex;
    flex: 2 3 1;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

video {
    width: 100%;
    height: 100%;
}

#content {
    margin: 2% auto;
}

#landscape-img {
    width: 90%;
    height: 100%;
    margin: auto;
}

header h1 {
    font-weight: normal;
    font-size: 50px;
    margin: 2%;
}

a {
    font-size: 16px;
    color: aquamarine;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

#desc {
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
}

footer p {
    margin: 2% auto;
    padding-right: 2%;
}